* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: "Overpass", "Lucida Sans", "Lucida Sans Regular";
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 420px;
  height: 430px;
  display: flex;
  flex-direction: column;
  border-radius: 1.5em;
  background-color: hsl(216, 12%, 8%);
  padding: 2em;
  justify-content: space-around;
  align-items: stretch;
}

.starBackground {
  border-radius: 50%;
  background-color: hsl(213, 19%, 18%);
  width: 3em;
  height: 3em;
  text-align: center;
}

.starImage {
  width: fit-content;
  height: fit-content;
  margin-top: 0.9em;
}

.question {
  color: #ffffff;
  font-size: xx-large;
  margin-bottom: unset;
  font-weight: bold;
}

.description {
  color: hsl(216, 12%, 54%);
  font-size: medium;
  line-height: 1.5em;
}

.options {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  justify-content: space-between;
  padding: 0.5em;
}

.options > span {
  display: block;
  width: 3.2em;
  height: 3.2em;
  text-align: center;
  background-color: hsl(213, 19%, 18%);
  padding: 1em;
  border-radius: 50%;
  color: hsl(217, 12%, 63%);
  font-weight: bold;
  cursor: pointer;
}

.options > span:hover {
  background-color: hsl(25, 97%, 53%);
  color: #ffffff;
}

.clicked {
  background-color: hsl(216, 12%, 54%) !important;
  color: #ffffff !important;
}

.lastOption {
  margin: unset;
}

.submitBtn {
  background-color: hsl(25, 97%, 53%);
  border-radius: 2em;
  border: solid 0;
  height: 3.5em;
  color: white;
  margin-top: 1em;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-family: Overpass;
  cursor: pointer;
  width: 100%;
}

.submitBtn:hover {
  color: hsl(25, 97%, 53%);
  background-color: hsl(25, 97%, 90%);
}

.card>.ratingInfo,.thankImg,.thankYouText,.description {
  text-align: center;
}

.thankImg {
  width: 140px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.ratingInfo {
  margin-left: auto;
  margin-right: auto;
  color: hsl(25, 97%, 60%);
  background-color: hsl(213, 19%, 18%);
  width: 12.5em;
  height: 2em;
  border-radius: 1em;
  vertical-align: middle;
  margin-bottom: 1em;
}

.ratingInfo>p {
  margin: unset;
  margin-top: 0.4em;
}

.thankYouText {
  color: #ffffff;
  font-weight: bold;
  font-size: xx-large;
  margin: unset;
}

@media ( max-width: 450px) {
  .card {
    width: 90%;
  }
}